.tiktactoe {
  margin: auto;
  user-select: none;
  &__ {
    &head {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      gap: 24px 0;
      width: 100vw;
      max-width: 450px;
      padding: 12px 0;
    }
    &field {
      position: relative;
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(3, 1fr);
      width: 100vw;
      max-width: 450px;
      height: 100vw;
      max-height: 450px;
      cursor: pointer;

      &--3 {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
      }

      &--19 {
        grid-template-rows: repeat(19, 1fr);
        grid-template-columns: repeat(19, 1fr);
      }

      &.inactive {
        cursor: not-allowed;
      }
      &.finished {
        opacity: .8;
        pointer-events: none;
      }
    }
    &win {
      &_message {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #0c0c0ca3;
        color: #fff;
      }
      &_content {
        margin: 10px 0;
        font-size: 30px;
        text-transform: uppercase;
      }
      &_reloader {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 12px;
      }
      &_time {
        font-size: 30px;
      }
    }
    &cell {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid grey;

      img {
        width: 90%;
        animation: appear .5s ;
        transform: scale(1);
        transition: all ease .2s;
      }

      &--win {
        background: #fff4e2;
      }

      &--win img {
        transform: scale(1.1);
      }

      @keyframes appear {
        0% {
          transform: scale(0.8);
        }
        80% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }
    }
    &score  {
      text-align: center;
      font-size: 30px;
      span {
        padding: 0 10px;
      }
    }
    &game {
      grid-column: 1/5;
      display: flex;
      align-items: center;

      .el-avatar {
        margin-right: 32px;
      }
    }
  }
}
